html {
    text-align: center;
    margin: 0 auto;
    background: url('./PokeBG.jpeg');

}

h1 {
    margin: 10px 0px 0px 0px;
    color: white;
    text-decoration: underline;
}

h2 {
    margin-top: 1px;
    margin-bottom: 10px;
    color: white;
}


h3 {
    margin-top: 25px;
    color: white;
}

p {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qualifications {
    align-content: left;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-color: red;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
    margin-bottom: 5px;
}


.container {
    align-content: center;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-color: red;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
}

/* I apparently had to add "margin: 0 auto;"  to ".container" even though it's under the parent HTML */

.btn-grid {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 20px;
    gap: 10px;
}

.btn {
    align-content: center;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}